input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance:textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.leaflet-container {
  height: 381px;
}

@media (min-width: 768px) {
  .leaflet-container {
    height: 462px;
  }
}
