$basic-color: #ffffff;
$block-color: #f6f7ff;
$basic-font-color: #1f1e25;
$input-color: #000000;
$decoration-color: #c1c2ca;
$highlight-color: #2c36f2;
$dark-highlight-color: #2027b3;
$light-highlight-color: #3841ff;
$modal-shadow-color: #000000;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 767px;
