$basic-color: #ffffff;
$block-color: #f6f7ff;
$basic-font-color: #1f1e25;
$input-color: #000000;
$decoration-color: #c1c2ca;
$highlight-color: #2c36f2;
$dark-highlight-color: #2027b3;
$light-highlight-color: #3841ff;
$modal-shadow-color: #000000;
$control-color: #2028b6;
$slider-2-background: #f3faff;
$slider-3-background: #e6f1fe;
$unactive-dot-color: #e0e0e0;
$tabs-button-color: #4c4b51;
$shadow-color: #585757;
$mark-color: #707c87;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 767px;
